<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Infoshare React workshop</title>
    <link rel="stylesheet" type="text/css" href="/lib/codemirror.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="heading">
      <p>Edit the code on the left hand side. The result will be evaluated and rendered on the right hand side. <strong>Modern browser required!</strong> Latest Chrome or Firefox preferable.</p>
    </div>
    <div id="input">
      <button id="go">Run</button>
      <textarea></textarea>
      <div id="instruction">
        {{{body}}}
      </div>
      <a href="/{{nextId}}">Next</a>
    </div>

    <div id="root">
      <p>Click the "run" button to run the React code here.</p>
    </div>

    <script src="/lib/codemirror.js" charset="utf-8"></script>
    <script src="/lib/codemirror-js.js" charset="utf-8"></script>
    <script src="/lib/throw-in-the-towel.js" charset="utf-8"></script>
    <script src="/lib/react.js" charset="utf-8"></script>
    <script src="/lib/react-dom.js" charset="utf-8"></script>
    {{#if isRouter }}
    <script src="/lib/ReactRouter.js" charset="utf-8"></script>
    {{/if}}
    <script type="text/placeholder" class="js-initial-value">{{{initialValue}}}</script>
    <script type="text/babel" class="js-script-change">
    </script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
