<h3>In the beginning</h3>

<ul>
  <li>React components are defined using <code>React.createClass</code>.</li>
  <li><strong>Every</strong> React component must define a <code>render</code> method.</li>
  <li>This method should define how the component should look when it is rendered.</li>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Update the component so it renders "Hello World" to the screen.</li>
  <li>To do this, edit the code above and press the "run" button.</li>
  <li>Now, update the render method so it can return a paragraph instead of a heading 1.</li>
</ul>

