<h3>Counter</h3>

<ul>
  <p>The <code>App</code> component is starting to get a little big now.</p>
  <p>When this happens you should consider pulling some code into another component.</p>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Pull out the counter code into a component called <code><Counter /></code>`, and make <code>App</code> render it.</li>
</ul>


