<h3>Counter</h3>

<ul>
  <li>Now you've pulled the counter into its own component, things are looking tidier!</li>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Make it so I can pass a property to the <code>Counter</code> component to set what the initial value is.</li>
  <li>Be sure to document the property with <code>propTypes</code></li>
  <li>React lets us set the default value to be used if a property isn't passed in. <a target="_blank" href="https://facebook.github.io/react/docs/reusable-components.html#default-prop-values">Using these docs as a starting point, can you figure out how?</a>.</li>
</ul>


