<h3>Forms and references</h3>

<ul>
  <p>React lets us access the DOM nodes of elements using <strong>refs</strong>.</p>
</ul>

<h3>Exercises</h3>
<ul>
  <li>To access the value of the input, use <code>this.refs.textInput.value</code>.</li>
  <li>Update this form with a button that, when clicked, will <code>console.log</code> the value of the input form.</li>
  <li>Then add another button that, when clicked, clears the input value.</li>
</ul>


