<h3>Better forms</h3>

<ul>
  <p>Rather than reach into the DOM to deal with the value it's better to manage its state.</p>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Update the above code to set the new value of the text box when the <code>onChange</code> function is called, everytime the user tries to type into the box.</li>
  <li>Add a button that can be clicked to clear the input box.</li>
</ul>


