<h3>Focusing</h3>

<ul>
  <p>React provides lots of functions that we can define to hook into the <a href="https://facebook.github.io/react/docs/component-specs.html" target="_blank">component lifecycle</a>.</p>
  <p>One of these is <code>componentDidMount</code>, which is called when the component is rendered to the DOM.</p>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Uncomment out the code in <code>componentDidMount</code> and see what happens.</li>
</ul>


