<h3>componentWillMount and async</h3>

<ul>
  <p>We can kick off async code in <code>componentWillMount</code></p>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Update the component so that we store the name of the user that GitHub gives us into the state, so it is rendered onto screen.</li>
  <li>Hint: you should replace the <code>console.log</code> above with something else...maybe something that sets state?!</li>
</ul>


