<h3>Abstracing components again!</h3>

<ul>
  <p>Once again our <code>App</code> component has got pretty big.</p>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Create a new component, <code>GitHubPerson</code> that is rendered by the <code>App</code> component.</li>
  <li>Let this component take a <code>name</code> property which decides which GitHub user it will fetch data for.</li>
</ul>


