<h3>Loading Spinner</h3>

<ul>
  <li>Our app works fine but when the data is loading it would be nice to have a spinner showing that.</li>
  <li>For the purposes of this demo I've delayed our API request by a few seconds.</li>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Set <code>state.isLoading</code>, which will be set to true just before you make the request.</li>
  <li>Once the request is complete, set it back to false.</li>
</ul>


