<h3>Putting it all together</h3>

<ul>
  <p>The above application should let you fill in the text box with a username and fetch their data from GitHub.</p>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Make it all work!</li>
</ul>


