<h3>Bigger components</h3>

<ul>
  <li>Components can render more than one element inside them.</li>
  <li>However, each component must have one containing element that everything else is contained within.</li>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Update this component so it returns a heading but also a paragraph with some text in it.</li>
</ul>

