<h3>Routing</h3>

<ul>
  <li>We're now going to take a look at Routing using <a href="https://github.com/reactjs/react-router">React Router</a>.</li>
  <li>Look at the above code and note how we bind one URL to the Index component.</li>
</ul>

<h3>Exercises</h3>
<ul>
  <li>No exercises for now!</li>
</ul>


