<h3>Routing</h3>

<ul>
  <li>Using the Link component that React Router provides we can link from one page to another.</li>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Click the link to be taken from the index page to the about page.</li>
  <li>Notice how you can use forward and back normally.</li>
  <li>Add a <code>Link</code> to the About page so we can navigate back to the Index.</li>
  <li>Add an entirely new page at a new URL and add a Link to it.</li>
</ul>


