<h3>Nested Routing</h3>

<ul>
  <li>It's annoying having to repeat the links on each route when really we want them on every page.</li>
  <li>React router lets us nest routes and components.</li>
  <li>Notice how we use <code>this.props.children</code> in nested routes.</li>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Add a new page and a new link to that page.</li>
</ul>


