<h3>Active links</h3>

<ul>
  <p>We can get React Router to give links a class when they are active.</p>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Add a new page and a new link to that page, making sure it's given the active style.</li>
  <li>It's annoying having to use the Link component with that argument every time. Can you make a new component that renders a Link component with the activeClassName but takes the URL to link to?</li>
</ul>


