<h3>Parameters</h3>

<ul>
  <p>We can create URLs that have parameters in and get access to them in our component.</p>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Add a page <code>/posts</code> that shows a list of all posts. You can hardcode the actual post IDs for now. Make this page list two posts that you can click on to read.</li>
</ul>


