<h3>Programatically transitioning</h3>

<ul>
  <p>We can create URLs that have parameters in and get access to them in our component.</p>
  <p>To do this we use <code>context</code> to access the router. Context is a React feature that lets some objects be available to all child components in an application. It's not something you should use lots, but it's handy for accessing the router.</p>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Add another page and make the "Go to my blog post" button randomly take you to either page.</li>
</ul>


