<h3>Putting it all together</h3>

<ul>
  <li>We're going to put all the skills we've learned so far to the test now!</li>
  <li>You should create a URL of: /github/:name</li>
  <li>When I visit /github/jackfranklin, it should make an API request to the GitHub API (like we did earlier), and show the result on screen.</li>
  <li>You can use the <code>getGitHubUser</code> function to fetch the data.</li>
</ul>



