<h3>Putting it all together, again!</h3>

<ul>
  <p>Create a component at the url <code>/github</code>. I've already done the first bit for you!</p>
  <p>This component should allow a user to type in a name into an input box.</p>
  <p>When they hit go, they should be taken to /github/:name, where :name is the value in the box.</p>
</ul>



