<h3>The End</h3>

<ul>
  <li>We're done! Congratulations on reaching the end of the tutorials.</li>
</ul>

<h3>Exercises</h3>
<ul>
  <li>There's one final thing - take a look at the code above.</li>
  <li>You can create <strong>stateless components</strong> as just functions.</li>
  <li>Which is pretty cool!</li>
</ul>



