<h3>Components in components</h3>

<ul>
  <li>Components can also render other components</li>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Render the <code>Name</code> component within the <code>App</code> component.</li>
  <li>Create your own brand new component and have <code>App</code> render it.</li>
</ul>

