<h3>Properties</h3>

<ul>
  <li>Components can be given properties so that they can be configured.</li>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Update the above code so the text shows "My name is Jack".</li>
  <li>Add another property to the <code>Name</code> component that allows the component to show the favourite colour for a given person.</li>
</ul>

