<h3>Objects as properties</h3>

<ul>
  <p>Properties don't have to be primitive values, they can be objects too.</p>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Update the above code so the favourite coluor is shown too.</li>
</ul>

