<h3>propTypes</h3>

<ul>
  <li>We can document our components using propTypes</li>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Open your console - you'll see an error.</li>
  <li>Why does this error appear, and how can you get rid of it?</li>
  <li>Add another property to the <code>Person</code> component, and document it using propTypes.</li>
</ul>

