<h3>Lists of components</h3>

<ul>
  <li>If we want to render a list of components we can do so by mapping over an array of data and returning React components.</li>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Change the code so it loops over every person in the state and renders a <code>Person</code> component for them.</li>
</ul>

