<h3>Events</h3>

<ul>
  <li>React provides a full event system so we can deal with user interaction.</li>
</ul>

<h3>Exercises</h3>
<ul>
  <li>Edit the above code so that when I click the button the state changes from 'ON' to 'OFF'.</li>
  <li>Hint: you will need to use <code>this.setState({...})</code>.</li>
</ul>


