<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Infoshare React workshop</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body id="index-page">
    <h1>Are you ready to React!?</h1>
    <ul>
      <li>Go through each exercise step by step.</li>
      <li>Read <strong>all</strong> the text and do <strong>every</strong> exercise.</li>
      <li>If you get stuck, read the error messages, check your console and check your code.</li>
      <li>If you're still stuck, ask your fellow workshop attendees, or Jack!</li>
    </ul>

    <a href="/1">Let's get started! Go Go Go Go!</a>
  </body>
</html>
