p, li {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}

code {
  font-size: 16px;
}

li {
  margin-bottom: 10px;
}


#input {
  width: 55%;
  float: left;
}

#root {
  width: 35%;
  float: right;
  border-left: 1px solid #111;
  padding-left: 30px;
}

#error {
  background: red;
  color: white;
  padding: 5px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.active-link {
  color: red;
}

.next-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: block;
  background: blue;
  color: white;
  border: 1px solid #111;
  padding: 30px;
}

a.next-btn:link,
a.next-btn:visited {
  text-decoration: none;
  font-size: 20px;
}

a.next-btn:hover {
  background: white;
  color: black;
}

#index-page {
  text-align: center;
}

#index-page li {
  list-style: none;
  font-size: 20px;
}

#index-page a:link,
#index-page a:visited {
  font-size: 40px;
  text-decoration: none;
  color: blue;
}

#index-page a:hover {
  text-decoration: underline;
}
